.axis-color,.axisfont-color,.Font-color,.font_size,.series1-color,.series2-color,.valueAxistitlefont-family,.valueaxis-color,.valueaxis-thickness,.valuefont_size,.thickness,.titlefont-family,.grid-thickness,.series-color,.bar-color,.scale-selection{
    width: 250px;
    margin:10px;
}
.main-group{
    border: 1px solid #23527c;
    margin: 20px;
    width:500px;
    padding: 40px;
    
}
.d3-tip,.n {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  /* background: rgba(0, 0, 0, 0.8); */
  /* color: #fff; */
  border-radius: 2px;
  border: 1px solid #245269;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    -mox-box-shadow: 4px 4px 4px 10px rgba(0, 0, 0, 0.4);
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: #f9f9f9;
  content: "\25BC";
  position: absolute;
  text-align: center;
 
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 10px;
}
.tick text{
    font-size: 11px;
  }

  .tick line{
    opacity: 0.6;
  }
  .selection-group{
      margin: 10px;
  }  
  .legendContainer .series.active{
    opacity:0.3 !important;
}
.data-table{
    margin-left: 40px;
}
#tooltip {
    position: absolute;
    color: black;
    width: 100px;
    height: auto;
    padding: 10px;
    background-color:white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    -mox-box-shadow: 4px 4px 4px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 4px 4px 10px rbga(0, 0, 0, 0.4) pointer-events none;
}