.axis-color,.axisfont-color,.Font-color,.font_size,.series1-color,.series2-color,.valueAxistitlefont-family,.valueaxis-color,.valueaxis-thickness,.valuefont_size,.thickness,.titlefont-family{
    width: 80px;
    margin:10px;
}
.main-group{
    border: 1px solid #23527c;
    margin: 20px;
    width:500px;
    
}
